_ss_environment.php
.settings
.idea
.DS_store
project/
/vendor/
/cms/
/framework/
/app/node_modules/
/assets/
/silverstripe-cache/
/userforms/
/display_logic/
/cap/
/googlesitemaps/
/segment-field/
/gridfieldextensions/
/reports/
/siteconfig/
/stats/
dump.sql
/sortablegridfield/
/memberprofiles
/comments