/* IMPORTS */
@import "themes/lago/less/colors.less";
/* END IMPORTS */

/* GLOBAL STYLES */
* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  margin: 0px 0px 30px;
}

h1,
h2 {
  margin: 0px 0px 30px;
}

h3,
h4,
h5 {
  margin: 0px 0px 20px;
}

p {
  margin: 0px 0px 15px;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
/* END GLOBAL STYLES */

// --- MAPS ---

#googleMap {
  display: inline-block;
  vertical-align: top;
  width: 69.5%;
  height: 100vh;
}

// --- END MAPS ---