@import "themes/lago/less/main.less";

nav {

  @media only screen and (min-width: 100px) {

    ul {
      list-style-type: none;
      padding: 0px;

      li {
        padding: 25px;
        box-sizing: border-box;
        margin: 5px 0px;
        background: @calm_green;
      }

      a {
        text-decoration: none;
        color: @white;
      }

    }

  }

  @media only screen and (min-width: 768px) {

  }

  @media only screen and (min-width: 1224px) {

  }

}